<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập</title>
  </head>
  <body>
    <h2>Đăng nhập</h2>
    <input type="text" id="username" placeholder="Tên đăng nhập" />
    <input type="password" id="password" placeholder="Mật khẩu" />
    <button onclick="login()">Đăng nhập</button>
    <p id="result"></p>
    <script>
      async function login() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;

        let response = await fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password }),
        });

        let data = await response.json();
         
        
        if (data.access_token) {
          sessionStorage.setItem("token", data.access_token);
          sessionStorage.setItem("role", data.role);
              
          let token = sessionStorage.getItem("token");
          alert("Token nhận được: " + token);

          let check_token = await fetch("/check_token", {
            method: "GET",
            headers: { Authorization: "Bearer " + token },
          })
            .then((response) => response.text()) // Lấy HTML
            .then((html) => {
              document.open(); // Mở tài liệu mới
              document.write(html); // Ghi nội dung HTML mới
              document.close(); // Hiển thị nội dung HTML
            })
            .catch((error) => console.error("Error:", error));
        } else {
          document.getElementById("result").innerText = data.msg;
        }
      }
    </script>
  </body>
</html>
