<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang User</title>
  </head>
  <body>
    <h2>Chào mừng User</h2>
    <p id="user-info"></p>
    <button onclick="logout()">Đăng xuất</button>

    <script>
      async function checkAccess() {
        let token = sessionStorage.getItem("token");
        if (!token) {
          window.location.href = "/";
          return;
        }

        let response = await fetch("/user", {
          method: "GET",
          headers: { Authorization: "Bearer " + token },
        });

        if (response.ok) {
          let data = await response.json();
          document.getElementById("admin-info").innerText = data.msg;
        } else {
          alert("Lỗi khi kiểm tra quyền truy cập!");
          window.location.href = "/";
        }
      }

      checkAccess();
    </script>
  </body>
</html>
